<a href="https://colab.research.google.com/github/SujithJulakanti2002/evidently/blob/main/evidently.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install evidently

In [6]:
import pandas as pd
import numpy as np

from sklearn.datasets import fetch_california_housing

from evidently import ColumnMapping

from evidently.report import Report
from evidently.metrics.base_metric import generate_column_metrics
from evidently.metric_preset import DataDriftPreset, TargetDriftPreset
from evidently.metrics import *
from evidently import ColumnMapping

from evidently.test_suite import TestSuite
from evidently.tests.base_test import generate_column_tests
from evidently.test_preset import DataStabilityTestPreset, NoTargetPerformanceTestPreset
from evidently.tests import *

# New section

In [8]:
df=pd.read_csv("/content/Indian Liver Patient Dataset (ILPD).csv",encoding= 'unicode_escape')
df

     65 Female   0.7  0.1  187  16   18  6.8  3.3   0.9  1
0    62   Male  10.9  5.5  699  64  100  7.5  3.2  0.74  1
1    62   Male   7.3  4.1  490  60   68  7.0  3.3  0.89  1
2    58   Male   1.0  0.4  182  14   20  6.8  3.4  1.00  1
3    72   Male   3.9  2.0  195  27   59  7.3  2.4  0.40  1
4    46   Male   1.8  0.7  208  19   14  7.6  4.4  1.30  1
..   ..    ...   ...  ...  ...  ..  ...  ...  ...   ... ..
577  60   Male   0.5  0.1  500  20   34  5.9  1.6  0.37  2
578  40   Male   0.6  0.1   98  35   31  6.0  3.2  1.10  1
579  52   Male   0.8  0.2  245  48   49  6.4  3.2  1.00  1
580  31   Male   1.3  0.5  184  29   32  6.8  3.4  1.00  1
581  38   Male   1.0  0.3  216  21   24  7.3  4.4  1.50  2

[582 rows x 11 columns]

In [9]:
df.rename(columns={"65":"age","Female":"gender","0.7":"TB","0.1":"DB","187":"Alpkhos","16":"SGPT","18":"SGOT","6.8":"TP","3.3":"ALB","0.9":"AG","1":"target"},inplace=True)
df

     age gender    TB   DB  Alpkhos  SGPT  SGOT   TP  ALB    AG  target
0     62   Male  10.9  5.5      699    64   100  7.5  3.2  0.74       1
1     62   Male   7.3  4.1      490    60    68  7.0  3.3  0.89       1
2     58   Male   1.0  0.4      182    14    20  6.8  3.4  1.00       1
3     72   Male   3.9  2.0      195    27    59  7.3  2.4  0.40       1
4     46   Male   1.8  0.7      208    19    14  7.6  4.4  1.30       1
..   ...    ...   ...  ...      ...   ...   ...  ...  ...   ...     ...
577   60   Male   0.5  0.1      500    20    34  5.9  1.6  0.37       2
578   40   Male   0.6  0.1       98    35    31  6.0  3.2  1.10       1
579   52   Male   0.8  0.2      245    48    49  6.4  3.2  1.00       1
580   31   Male   1.3  0.5      184    29    32  6.8  3.4  1.00       1
581   38   Male   1.0  0.3      216    21    24  7.3  4.4  1.50       2

[582 rows x 11 columns]

In [13]:
reference=df.sample(n=350,replace=False)
current=df.sample(n=350,replace=False)

In [16]:
column_mapping=ColumnMapping()
column_mapping.target="target"
column_mapping.numerical_features=['age','TB','DB','Alpkhos','SGPT','SGOT','TP','ALB','AG']
column_mapping.categorical_features=['gender']
column_mapping.task='classification'
column_mapping.prediction="prediction"
column_mapping.target_names=["1","2"]

In [18]:
report = Report(metrics=[
    DataDriftPreset(), 
])

report.run(reference_data=reference, current_data=current, column_mapping=column_mapping)
report.json()

'{"version": "0.2.2", "timestamp": "2023-02-02 03:30:50.391838", "metrics": [{"metric": "DatasetDriftMetric", "result": {"drift_share": 0.5, "number_of_columns": 11, "number_of_drifted_columns": 0, "share_of_drifted_columns": 0.0, "dataset_drift": false}}, {"metric": "DataDriftTable", "result": {"number_of_columns": 11, "number_of_drifted_columns": 0, "share_of_drifted_columns": 0.0, "dataset_drift": false, "drift_by_columns": {"target": {"column_name": "target", "column_type": "cat", "stattest_name": "Z-test p_value", "drift_score": 0.8654565150621019, "drift_detected": false, "threshold": 0.05, "typical_examples_cur": null, "typical_examples_ref": null, "typical_words_cur": null, "typical_words_ref": null}, "AG": {"column_name": "AG", "column_type": "num", "stattest_name": "K-S p_value", "drift_score": 0.9987805738650762, "drift_detected": false, "threshold": 0.05, "typical_examples_cur": null, "typical_examples_ref": null, "typical_words_cur": null, "typical_words_ref": null}, "ALB": {"column_name": "ALB", "column_type": "num", "stattest_name": "K-S p_value", "drift_score": 0.995320477149554, "drift_detected": false, "threshold": 0.05, "typical_examples_cur": null, "typical_examples_ref": null, "typical_words_cur": null, "typical_words_ref": null}, "Alpkhos": {"column_name": "Alpkhos", "column_type": "num", "stattest_name": "K-S p_value", "drift_score": 0.9999895175786302, "drift_detected": false, "threshold": 0.05, "typical_examples_cur": null, "typical_examples_ref": null, "typical_words_cur": null, "typical_words_ref": null}, "DB": {"column_name": "DB", "column_type": "num", "stattest_name": "K-S p_value", "drift_score": 0.5550396520563093, "drift_detected": false, "threshold": 0.05, "typical_examples_cur": null, "typical_examples_ref": null, "typical_words_cur": null, "typical_words_ref": null}, "SGOT": {"column_name": "SGOT", "column_type": "num", "stattest_name": "K-S p_value", "drift_score": 0.8042351927205127, "drift_detected": false, "threshold": 0.05, "typical_examples_cur": null, "typical_examples_ref": null, "typical_words_cur": null, "typical_words_ref": null}, "SGPT": {"column_name": "SGPT", "column_type": "num", "stattest_name": "K-S p_value", "drift_score": 0.9999895175786302, "drift_detected": false, "threshold": 0.05, "typical_examples_cur": null, "typical_examples_ref": null, "typical_words_cur": null, "typical_words_ref": null}, "TB": {"column_name": "TB", "column_type": "num", "stattest_name": "K-S p_value", "drift_score": 0.5550396520563093, "drift_detected": false, "threshold": 0.05, "typical_examples_cur": null, "typical_examples_ref": null, "typical_words_cur": null, "typical_words_ref": null}, "TP": {"column_name": "TP", "column_type": "num", "stattest_name": "K-S p_value", "drift_score": 0.9999998190956079, "drift_detected": false, "threshold": 0.05, "typical_examples_cur": null, "typical_examples_ref": null, "typical_words_cur": null, "typical_words_ref": null}, "age": {"column_name": "age", "column_type": "num", "stattest_name": "K-S p_value", "drift_score": 0.9427066402743708, "drift_detected": false, "threshold": 0.05, "typical_examples_cur": null, "typical_examples_ref": null, "typical_words_cur": null, "typical_words_ref": null}, "gender": {"column_name": "gender", "column_type": "cat", "stattest_name": "Z-test p_value", "drift_score": 0.2243068466236351, "drift_detected": false, "threshold": 0.05, "typical_examples_cur": null, "typical_examples_ref": null, "typical_words_cur": null, "typical_words_ref": null}}}}]}'